<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<style>


#error_explanation {
  background-color: #ffecec;  
  border: 1px solid #f5c2c2;   /
  border-radius: 8px;        
  padding: 8px;
  margin-bottom: 20px;
  color: #b94a48;              
}

#error_explanation h2 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

#error_explanation ul {
  list-style: none;  
  padding-left: 0;   
  margin: 0;
}


#error_explanation li {
  margin-bottom: 6px;
  padding-left: 4px;
  line-height: 1.4;
}
</style>