<footer class="footer">
  <style>
  .footer {
    flex: 0 0 auto;              
    height: 80px;
    background-color: #fbeaea;
    border-top: 1px solid #ddd;
    text-align: left;
    margin-top: auto;
    padding:24px 40px;  
  }

    .footer-content a {
      color: #333;
      text-decoration: none;
      display: inline-block;
      line-height: 1.4;
    }

    .footer-content a:hover {
      text-decoration: underline;
    }
  </style>

  <div class="footer-content">
    <a href="#">利用規約</a><br />
    <a href="#">お問合せ</a>
  </div>
</footer>
